<h1>Hangman</h1>

	<button class="new_game"type="button">New Game</button>

	<div class="word"></div>
	
	<h3>Select a Letter</h3>
		<div class="letter_buttons">
		<% @letters.each do |letter| %>
			<button class='letter-button' data-letter="<%= letter %>"><%= letter %></button>
		<% end %>
		</div>
	
	<h3>Letter Graveyard</h3>
		<div class="letter_graveyard">
			
		</div>


<script>

var gameid;

function updateGameState(data) {
	var newArray = data.game_state
	$(".word").text(newArray);
}

function updateGraveyard(data) {
	var letters = data.num_wrong_guesses
	$(".letter_graveyard").text(letters).shift();
}

// Not working ....  
function winGameAlert(data) {
	if (data.word === data.game_state){
		alert('You Win!');
	}else{
		alert('You Lose!');
	}
}
function tooManyGuesses(data) {
	(data.num_wrong_guesses.length >= 5);
		alert('You Lost');
}

function newGame() {
	$.ajax({
		url: "/hangman_games/new",
		method: "POST",
		dataType: "json",
		success: function(data){
			updateGameState(data)
			gameid = data.gameid;
		}
	});
}

function guessLetter(e){
	var letter = $(this).data('letter');

	$.ajax({
		url: '/hangman_games/' + gameid + '/guess',
		method: 'PATCH',
		dataType: 'JSON',
		data: {guess: letter},
		success: function(data){
			updateGameState(data);
			updateGraveyard(data);
			tooManyGuesses(data);
		}
	}); 
}



$(function(){
	$button = $(".new_game");

	$button.on( "click", newGame );

	$('.letter-button').on('click', guessLetter);
	
	$(this).remove();
});
	
</script>