
<div class="body">
	<h1>Hangman</h1>
		<button class="new_game"type="button">New Game</button>

		<div class="word"></div>

		<h3>Letter Graveyard</h3>
		<div class="letter_graveyard"></div>
		
		<h3>Select a Letter</h3>

		<div class="letter_buttons">
		<% @letters.each do |letter| %>
			<button class='letter-button' data-letter="<%= letter %>"><%= letter %></button>
		<% end %>
		</div>

</div>


<script>
	
var gameid;

function updateGameState(data) {
	var newArray = data.game_state
	$(".word").text(newArray);
}

function updateGraveyard(data) {
	var letters = data.guessed_letters;
	$(".letter_graveyard").empty().append(letters);
}

// Not working ....  
function checkWinOrLoss(data) {
	if (data.word === data.game_state){
		alert('You Win!');
	}else if ( data.num_guesses === 5 ){
		alert('You Lose!');
	}
}

// Also not working
// function tooManyGuesses(data) {
// 	(data.num_wrong_guesses.length >= 5);
// 		alert('You Lost');
// }

function newGame() {
	$.ajax({
		url: "/hangman_games/new",
		method: "POST",
		dataType: "JSON",
		success: function(data){
			updateGameState(data);
			gameid = data.id;
		}
	});
}

function guessLetter(ctx){
	var letter = $(ctx).data('letter');
	debugger;
	$.ajax({
		url: '/hangman_games/' + gameid + '/guess',
		method: 'PATCH',
		dataType: 'JSON',
		data: {guess: letter},
		success: function(data){
			updateGameState(data);
			updateGraveyard(data);
			checkWinOrLoss(data);
			$(this).remove(); 
		}
	}); 
}



$(function(){
	$button = $(".new_game");

	$button.on( "click", newGame );

	$('.letter-button').on('click', function(e) {
		guessLetter(this);
		$(this).remove();
	}); 
		

	
	// $(this).remove();
	
});
</script>