
<div class="links">

	<a href="/sessions/index">
		Home |
	</a>

	<a href="/sessions/show">
		Profile 
	</a>

</div>

<form action="/sessions" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Log-Out" class="submit">
</form> 

