<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Monoton|Press+Start+2P' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>Glemur</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/scripts.js"></script>
</head>
<body>

	<% if current_user %>
    <%= erb :'_navigation_user'%>
  <% else %>
    <%= erb :'_navigation_non_user'%>
	<% end %>

	<%= yield %>
	
</body>
</html>