<h1>Login</h1>

<form action="/sessions/new" method="post">
	<input type="text" name="user[username]" placeholder="Enter Username">
	<input type="password" name="password" placeholder="password">
	<input type="submit">
</form>