
<div class="body">
	<h1>Profile</h1>

	<table class="profile">
		<tr><td>Name: <%= current_user.username %></td></tr>
		<tr><td>Age: <%= current_user.age %></td></tr>
		<tr><td>Spirit Animal: <%= current_user.spirit_animal %></td></tr>
	</table>
</div>	

