<h1>Create Account</h1>

<form action="/users/new" method="post">
	<input type="text" name="user[username]" placeholder="Enter Username">
	<input type="password" name="password" placeholder="Enter Password">
	<input type="integer" name="user[age]" placeholder="Enter Age">
	<input type="text" name="user[spirit_animal]" placeholder="Enter Spirit Animal">
	<input type="submit">
</form>